#portada{
    background-image: url(img/sky.jpg);
    background-attachment: fixed;
    color: white;
    height: 30vh;
    overflow: hidden;
    transition: 2s;
}
#portada:hover{
    cursor: pointer;
    transition: 2s;
}
#portada h2{
    z-index: 100;
}
#portada p{
    filter: blur(10px);
    transition: 2s;
}
#portada p:hover{
    filter: blur(0);
    transition: 2s;
}
#portada h4{
    transition: 2s;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(59, 59, 59, 0.144);
    backdrop-filter: blur(20px);
    margin-bottom: 10px;
}
.nav-bar{
    position: sticky;
}