#portada{
    background-image: url(img/sky.jpg);
    background-attachment: fixed;
    color: white;
    height: 30vh;
    overflow: hidden;
    transition: 2s;
}
#portada:hover{
    cursor: pointer;
    transition: 2s;
}

#portada p{
    filter: blur(10px);
    transition: 2s;
}
#portada p:hover{
    filter: blur(0);
    transition: 2s;
}
#portada h4{
    transition: 2s;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(59, 59, 59, 0.144);
    backdrop-filter: blur(20px);
    margin-bottom: 10px;
}
.navbar{
    position: sticky;
    top: 0px;
    overflow: hidden;
    z-index: 300;
}
#lateral{
    border-radius: 10px;
    box-shadow: 0px 2px 1px 1px rgba(116, 115, 115, 0.582);
}
.fakeimg {
    height: 200px;
    background: #aaaaaa69;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.911) inset;
}

footer div{
    background-color: black !important;
    color: white;
}